rojo = #e21a22
gris_claro = #e0e0e0

body
	font-size 16px
	background white
	font-smooth always 

nav
	height 120px
	width 100%
	z-index 100
	position relative

header
	height 100vh
	width 100%
	position relative

section
	height 1140px

footer
	background url('../assets/footer_bg.jpg')
	background-repeat no-repeat
	background-size cover
	width 100%
	position relative

figure
	margin -144px 0

#logo_nviba
	margin 0 auto
	padding 0
	width 960px
	height 66px

#preload
	display none

#landingText
	color #fff
	font-wieght 700
	font-size 96px
	font-family 'Rokkitt', serif
	left 50%
	margin 0 0 0 -500px
	position absolute
	text-transform uppercase
	top 50px
	width 1000px
	z-index 120

#menu
	height 54px
	width 100%
	background rojo

#buttons
	font-family 'Rokkitt', serif
	font-size 1.5em
	list-style none
	padding 0
	margin 0 auto
	width 960px
	text-align center
	padding-top 0.6em

.menu_item
	display inline
	margin auto 3px

.menu_item a 
	text-decoration none
	margin 0
	padding 5px
	color white

#logo_content
	width 100%
	height 66px

#logo_square
	width 66px
	height 76px
	background rojo
	border-radius 5px
	margin-top -10px

#clouds
	background url(../assets/header_nviba.jpg)
	background-position center
	background-size cover
	height 100%
	width 100%
	top 0

.menu_item
	display inline
	margin auto 3px

.menu_item a 
	text-decoration none
	margin 0
	padding 5px
	color white

.logo
	margin-top -10px
	margin-left 10px
	margin-right 10px

.absolute
	position absolute

.relative
	position relative

.scrollblock
	width 100%

.white_birds img
	height 700px
	position absolute
	width 100%
	z-index 90

.red_birds img
	height 700px
	position absolute
	width 100%
	z-index -90

#contact_us
	background url('../assets/contactus_bg.jpg')
	background-attachment fixed
	background-repeat no-repeat
	background-size cover
	position relative
	z-index 0

.title_contactus
	color #e4e4e4
	font-family 'Rokkitt', serif
	font-size 45px	
	position absolute
	top -33px
	left 160px

.astronaut img 
	width 400px 
	height 400px
	-webkit-transform rotate(180deg)
	-mos-transform rotate(180deg)
	transform rotate(180deg)
	position absolute
	top -70px
	left 40em
	z-index -1

.form_content
	background #e4e4e4
	height 650px
	width 100%
	position relative
	padding-top 9em
	top 1000px
.izq
	float left
	width 300px
	padding-left 1.1em
.izq a 
	text-decoration none
	color #f90000
.izq h1
	color #f90000

.der 
	float right
	width 465px
	pa
.der form 
	width 26em

.der input
	margin .5em 2em
	border-radius 4px
	width 22em
	height 2em
	border 1px solid #b6b6b6
	color #000000
	padding .2em 1em

.der textarea
	margin 1.5em 2em
	border-radius 4px
	max-width 22em
	min-width 22em
	max-height 11em
	min-height 11em
	border 1px solid #b6b6b6
	padding 1em 1em

.der select
	margin .5em 2em
	border-radius 4px
	width 24em
	height 3em
	border 1px solid transparent
	color #ffffff
	text-shadow 0px -3px 2px #8e8d8d
	padding .2em 1em
	background #cdcdcd
	background-image url('../assets/down_narrow.png')
	background-repeat no-repeat
	background-size 25px 20px 
	background-position 340px 13px 
	-webkit-appearance none

.der select:active
	margin .5em 2em
	border-radius 4px
	width 24em
	height 3em
	border 1px solid #b6b6b6
	color #000000
	background #000000
	padding .2em 1em
	//-webkit-appearance: none;

.der option
	margin 1.5em 2em
	border-radius 4px
	max-width 22em
	min-width 22em
	max-height 11em
	min-height 11em
	border 1px solid #b6b6b6
	padding 1em 1em


.contactTtl
	font-size 2em
	color rojo
	font-family 'Rokkitt', serif
	text-transform uppercase
	padding-left 1em
// Estilo tabs contacto John
.contactBox
	background rojo
	padding 0.5em 0em
	margin-left 2em
	width 385px

.contactBox p 
	padding-left 0.8em
	padding-top 0.5em 
	margin 0
	color #e5e5e5
	font-size 1.3em
	font-wieght 600

.contactBox label
	padding-left 1em
	color #fff

.file_label
	margin .5em 1em !important
	border-radius 4px !important
	width 18em !important
	height 1.5em !important
	border 0px solid #b6b6b6 !important
	
.checkbx
	float right !important
	margin -0.6em 3em !important
	border-radius 5px !important
	width 1.5em !important
	height 2em !important

.career_chkbx
	padding 0.5em 1em

.career_chkbx label
	color #fff	

.submit_btn
	width 6.2em !important
	height 2.5em
	background-color #f90000
	color #ffffff !important
	border-radius 0px !important
	border 1px solid transparent !important
	float right
// Estilo tabs contacto John

.icons
	position relative
	top 430px
	color #bdbdbd
	font-size 4.2em
	left 30px

.icons ul
	list-style none

.icons li a
	text-decoration none
	color #bdbdbd


.icon-mail_icon
	float left
	cursor pointer

.icon-mail_icon:hover
	color #f90000

.icon-job_icon
	float right
	cursor pointer

.icon-job_icon:hover
	color #f90000

// request section
.title_request
	color #f6f6f6
	font-family 'Rokkitt', serif
	font-size 45px	
	position absolute
	top -34px
	left 160px

#request
	background url('../assets/quebrada.jpg')
	background-attachment fixed
	background-repeat no-repeat
	background-size cover
	background-position 0px 0px
	position relative
	z-index 1

.clavadista img 
	width 200px 
	height 200px
	-webkit-transform rotate(328deg)
	-ms-transform rotate(328deg)
	transform rotate(328deg)
	position absolute
	top -70px
	left 40em
	z-index -1

.request_content
	background #e4e4e4
	height 650px
	width 100%
	position relative
	padding-top 9em
	top 400px

.cat_animation
	bottom 0
	height 255px
	position relative
	left 
	width 370px

.cat1
	background url("../assets/cat/c1.png")
	position relative
	left 53em
	background-repeat no-repeat
	top 28em
	width 260px
.cat2
	background url("../assets/cat/c2.png")
	position relative
	left 52em
	background-repeat no-repeat
	top 28em
	width 400px
.cat3
	background url("../assets/cat/c3.png")
	position relative
	left 49em
	background-repeat no-repeat
	top 28em
	width 400px
.cat4
	background url("../assets/cat/c4.png")
	position relative
	left 46em
	background-repeat no-repeat
	top 28em
	width 400px
.cat5
	background url("../assets/cat/c5.png")
	position relative
	left 43em
	background-repeat no-repeat
	top 28em
	width 400px
.cat6
	background url("../assets/cat/c6.png")
	position relative
	left 40em
	background-repeat no-repeat
	top 28em
	width 400px
.cat7
	background url("../assets/cat/c7.png")
	position relative
	left 37em
	background-repeat no-repeat
	top 28em
	width 400px
.cat8
	background url("../assets/cat/c8.png")
	position relative
	left 34em
	background-repeat no-repeat
	top 28em
	width 400px
.cat9
	background url("../assets/cat/c9.png")
	position relative
	left 31em
	background-repeat no-repeat
	top 28em
	width 400px
.cat10
	background url("../assets/cat/c10.png")
	position relative
	left 28em
	background-repeat no-repeat
	top 28em
	width 400px
.cat11
	background url("../assets/cat/c11.png")
	position relative
	left 25em
	background-repeat no-repeat
	top 28em
	width 400px

.wrapper
	width 1200px
	max-width 1000px
	min-width 1000px
	margin auto
	z-index 0


#profile
	height 1200px
	background url("../assets/bw_clouds.jpg")
	margin-top -76px
	z-index 0

#profile_content
	position absolute
	bottom 0


#elpopo
	position absolute
	width 100%
	margin 0 auto
	bottom -540px
	z-index -11

#cholula
	position absolute
	width 100%
	margin 0 auto
	bottom 0px
	z-index -10

#reach_text
	width 960px
	margin 0 auto
	text-align left 
	color black
	z-index 1

#reach_text h3
	margin 0
	width 450px
	font-family 'Rokkitt', serif
	font-size 5em


#reach_paragraph
	width 100%
	background white
	height 700px
	bottom -150px

#reach_paragraph p 
	width 960px
	margin 0 auto
	padding-top 40px
	font-size 1.1em

#portfolio
	background url("../assets/rollercoaster.jpg")
	background-repeat no-repeat
	background-position 57% 78px
	margin 0
	height 1600px
	z-index 2

#portfolio_content
	width 100%
	height 1860px
	position relative
	top 650px
	background white
	z-index 1

.skiador img
	position absolute
	width 200px
	height 200px
	transform rotate(-16deg)
	-ms-transform rotate(-16deg)
	-webkit-transform rotate(-16deg)

#services
	height 1200px
	background url("../assets/UFO.jpg")
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	z-index 2
	margin-bottom 144px

#ovni
	height 680px

#ovni img
	width 200px
	height 200px

#services_content
	position absolute
	background white
	width 100%
	height 860px

#slider_content
	width 100%
	height 820px

#maps
	height 600px
	height 480px
//footer
#footer_wrapper
	height 360px
	width 1000px
	margin auto
#footer_wrapper span
	position relative
	font-family 'Rokkitt', serif
	color #fff
	left 18em
	top 5em
	margin 0
	padding 0
	font-size 20px

.tabs
	text-align center



.tab_item
	display inline
	margin 0 10px

.tab_item a
	text-decoration none
	color gray
	font-size 2.5em

.tab_item span
	display none
	font-size 1em

.contenido_tab
	width 100%
	height 550px

#moreclients
	height 955px
	background url("../assets/puercovolador.jpg")
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	z-index 4

#porcino
	height 550px

#porcino img 
	width 150px 
	height 150px
	transform scaleX(-1)
	-webkit-transform scaleX(-1)

#more_content
	height 550px
	background white 
	position relative
	

#cat_footer
	position absolute
	left 40em
	margin 0
	padding 0
	bottom 0
	width 100px

#red_underline
	position relative
	width 100%
	background rojo
	height 25px

//footer
#footer_wrapper
	height 360px
	width 960px
	margin auto
#footer_wrapper span
	position relative
	font-family 'Rokkitt', serif
	color #fff
	left 18em
	top 5em
	margin 0
	padding 0
	font-size 20px
#feather1 img
	position relative
	left 34em
	top 4em
#feather2 img
	position relative
	left 41em
	top 4em
#feather3 img
	position relative
	left 42em
	top -4em
#feather4 img
	position relative
	left 47em
	top -11em

#wrapper
	overflow hidden

